<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="CheckTech"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsistenciaDocente"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".InformeSemestral"
            android:exported="false" />
        <activity
            android:name=".InformeSemanal"
            android:exported="false" />
        <activity
            android:name=".InformeDocentes"
            android:exported="false" />
        <activity
            android:name=".InformeAula"
            android:exported="false" />
        <activity
            android:name=".ReportesAsistencias"
            android:exported="false" />
        <activity
            android:name=".menuadministradores"
            android:exported="false" />
        <activity
            android:name=".EditarInforme"
            android:exported="false"
            android:label="@string/title_activity_editar_informe"
            android:theme="@style/Theme.AsistenciaDocente" />
        <activity
            android:name=".AccesoAdministrador"
            android:exported="false" />
        <activity
            android:name=".ListaAula"
            android:exported="false" />
        <activity
            android:name=".ListaDocentes"
            android:exported="false" />
        <activity
            android:name=".reintentar"
            android:exported="false" />
        <activity
            android:name=".enviacorreo"
            android:exported="false" />
        <activity
            android:name=".recuperarcontrasena"
            android:exported="false" />
        <activity
            android:name=".Reporte"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CARGA"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroUsuario"
            android:exported="false" />
        <activity
            android:name=".Clases"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".abcAula"
            android:exported="false" />
        <activity
            android:name=".abcDocentes"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>